.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview__info{
  font-family: Tahoma, sans-serif;
  list-style-type: none;
  font-size: 1.2em;
  padding: 0.5em;
  color: black;
  background-color: #ffdfa7;
  border: 5px solid #ca9650;
}

.fighter-preview___root .fighter-preview___img{
  height: 300px;
  width: 200px;
}

.fighter-preview___right .fighter-preview___img{
  transform: rotateY(180deg);
}
